<div>
  <h4>Purchase Movie Tickets</h4>
</div>
  <br>
<div>
  <%= form_for(@ticket_purchase, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @ticket_purchase.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3>
        <%= pluralize(@ticket_purchase.errors.count, "error") %> prohibited this movie from being saved:
      </h3>
      <ul>
        <% @ticket_purchase.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :movie, class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <select class= "form-control"
            <%= collection_select(:ticket_purchase, :movie_id, Movie.all, :id, :name, prompt: true) %>
          </select>
        </div>
      </div>
      <div class="form-group">
        <%= f.label :showtimes, class: "col-sm-2 control-label" %>
          <div class="col-sm-5">
            <select class= "form-control"
              <%= collection_select(:ticket_purchase, :viewing_id, Viewing.all, :id, :view_time, prompt: true) %>
            </select>
          </div>
        </div>
        <div class="form-group">
          <%= f.label :ticket_type, class: "col-sm-2 control-label" %>
            <div class="col-sm-5">
              <select class= "form-control"
                <%= collection_select(:ticket_purchase, :final_cost, TicketDetail.all, :price, :ticket_style, prompt: true) %>
              </select>
            </div>
          </div>
      <div class="form-group">
        <%= f.label :name, class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
    <div class="form-group">
      <%= f.label :email, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.email_field :email, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :over_17, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <input class="radio-inline" type="radio" name="seats_open" id="inlineRadio1" value="true".to_boolean /> Yes
        <input class="radio-inline" type="radio" name="seats_open" id="inlineRadio2" value="false".to_boolean /> No
      </div>
      </div>
    <div class="form-group">
      <%= f.label :credit_card_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :cc_number, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :cvc, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :cc_cvc, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :exp_date, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.month_field :cc_exp, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :zip_code, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.number_field :zip_code, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit class: "btn btn-default" %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
             ticket_purchases_path, :class => "btn btn-danger" %>
        </div>
      </div>
    </div>
  <% end %>
</div>
