<div>
  <h3>Auditorium Set-up</h3>
</div>
  <br>

  <!-- AUDITORIUM FORM ERROR MESSAGING -->

  <div>
    <%= form_for(@viewing_room, html: {class: "form-horizontal", role: "form"}) do |f| %>
      <% if @viewing_room.errors.any? %>
      <div class="alert alert-warning alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h3>
          <%= pluralize(@viewing_room.errors.count, "error") %> prohibited this movie from being saved:
        </h3>
        <ul>
          <% @viewing_room.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
          <% end %>
        </ul>
      </div>
    <% end %>

  <!-------------------------------------->
  <!-- FORM FOR NEW AUDITORIUM CREATION -->

    <div class="form-group">
      <%= f.label :auditorium, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :room_number, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :seating_capacity, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :seat_max, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit class: "btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

  <!-------------------------------------->
  <!--- EDIT EXISTING AUDITORIUMS -------->

  <div class="col-md-7" id="auditorium-list">
    <table class="table">
      <tbody>
        <tr>
          <th class="table_head">Screening Room</th>
          <th class="table_head">Seating Capacity</th>
          <th class="table_head">Update</th>
          <th class="table_head">Remove</th>
          </tr>
            <% @viewing_rooms.each do |viewing_room| %>
          <tr>
            <td class="table_body">Auditorium <%= viewing_room.room_number %></td>
            <td class="table_body"><%= viewing_room.seat_max%></td>
            <td class="table_body">
              <a class="btn-sm btn-default" href='/viewing_rooms/<%= viewing_room.id %>/edit' role="button">Update</a>
            </td>
            <td class="table_body">
              <a class="btn-sm btn-default" href='/viewing_rooms/<%= viewing_room.id %>/destroy' role="button">Remove</a>
            </td>
        <% end %>
      </table>
    </div>
