<div>
  <h4>Showtime & Movie Scheduling</h4>
</div>
  <br>
<div>
  <%= form_for(@movie, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @movie.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3>
        <%= pluralize(@movie.errors.count, "errro") %> prohibited this movie from being saved:
      </h3>
      <ul>
        <% @movie.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :movie_title, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ombd_number, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :ombd_id, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ombd_poster, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :ombd_poster, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit class: "btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<br>


<div class="col-md-7" id="movie-list">
  <table class="table">
    <tbody>
      <tr>
        <th class="table_head">Movie Title</th>
        <th class="table_head">Movie ID</th>
        <th class="table_head">Update</th>
        <th class="table_head">Remove</th>
        </tr>
          <% @movies.each do |movie| %>
        <tr>
          <td class="table_body"><%= movie.name %></td>
          <td class="table_body"><%= movie.ombd_id%></td>
          <td class="table_body">
            <a class="btn-sm btn-default" href='/movies/<%= movie.id %>/edit' role="button">Update</a>
          </td>
          <td class="table_body">
            <a class="btn-sm btn-default" href='/movies/<%= movie.id %>/destroy' role="button">Remove</a>
          </td>
      <% end %>
    </table>
  </div>
