
<div>
  <%= form_for(@movie, html: { class: "form-horizontal", role: "form" }) do |f| %>

    <div class="form-group">
      <%= f.label :title, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :name, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ombd_id, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :ombd_id, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :ombd_poster, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <%= f.text_field :ombd_poster, class: "form-control" %>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit class: "btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>

<br>

<div>
  <table class="table-bordered">
    <tbody>
      <tr>
        <th class="table_head">Movie Title</th>
        <th class="table_head">Movie ID</th>
        <th class="table_head">Update</th>
        <th class="table_head">Remove</th>
        </tr>
          <% @movies.each do |movie| %>
        <tr>
          <td class="table_body"><%= movie.name %></td>
          <td class="table_body"><%= movie.ombd_id%></td>
          <td class="table_body">
            <button><a href='/movies/<%= movie.id %>/edit'>Update</a></button>
          </td>
          <td class="table_body">
            <button><a href='/movies/<%= movie.id %>/destroy'>Remove</a></button>
          </td>
      <% end %>
    </table>
</div>
