<!-- <h1>Viewings#new</h1>
<p>Find me in app/views/viewings/new.html.erb</p> -->

<div>
  <h4>Viewings Set-up</h4>
</div>
  <br>
<div>
  <%= form_for(@viewing, html: { class: "form-horizontal", role: "form" }) do |f| %>
    <% if @viewing.errors.any? %>
    <div class="alert alert-warning alert-dismissible" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
      <h3>
        <%= pluralize(@viewing.errors.count, "error") %> prohibited this movie from being saved:
      </h3>
      <ul>
        <% @viewing.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

    <div class="form-group">
      <%= f.label :auditorium, class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <select class="form-control" '<%= f.text_field :viewing_room %>'>
            <% @viewing_rooms.each do |viewing_room| %>
            <option><%= viewing_room.room_number %></option>
              <% end %>
          </select>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :movie, class: "col-sm-2 control-label" %>
        <div class="col-sm-5">
          <select class="form-control" '<%= f.text_field :movie %>'>
           <% @movies.each do |movie| %>
           <% if movie.playing_now == true %>
            <option><%= movie.name %></option>
              <% end %>
            <% end %>
          </select>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :seats_available, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <!-- <%= f.text_field :seats_open, class: "form-control" %> -->
        <label class="radio-inline">
            <input type="radio" name="seats_open" id="inlineRadio1" value="true"> Yes
        </label>
        <label class="radio-inline">
          <input type="radio" name="seats_open" id="inlineRadio2" value="false"> No
        </label>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :movie_time, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <input type="time" class="form-control" name="view_time" placeholder="Time"></input>
      </div>
    </div>
    <div class="form-group">
      <%= f.label :movie_date, class: "col-sm-2 control-label" %>
      <div class="col-sm-5">
        <input type="date" class="form-control" name="view_date" placeholder="Date"></input>
      </div>
    </div>
    <div class="form-group">
      <div class="col-sm-offset-2 col-sm-8">
        <%= f.submit class: "btn-sm btn-primary" %>
      </div>
    </div>
  <% end %>
</div>
